<nav class="navbar navbar-expand-lg navbar-dark nav-bar-bg">
  <a class="navbar-brand" href="#"> APP
    <%= link_to image_tag(
        "online-education.svg",
        alt:  "Logo",
        size: "30x30"
      ),
      home_path %> 
  </a>
  <button class         = "navbar-toggler"
          type          = "button"
          data-toggle   = "collapse"
          data-target   = "#navbarSupportedContent"
          aria-controls = "navbarSupportedContent"
          aria-expanded = "false"
          aria-label    = "Toggle navigation">
    <span class = "navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user.nil? %>
        <li class="nav-item active">
          <%= link_to('Login', new_user_session_path, class: "nav-link")  %>  
        </li>
        <li class="nav-item active">          
          <%= link_to('Registrarse',new_user_registration_path, class: "nav-link")  %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to('Editar cuenta', edit_user_registration_path) %>
        </li>
        <li class="nav-item active">
          <%= link_to destroy_user_session_path, class: "nav-link" , method: :delete do%>Log out<% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
