
  <nav class="light-blue darken-4">
    <div class="nav-wrapper">
      <%= link_to image_tag(
          "online-education.svg",
          alt:  "Logo",
          size: "30x30",
          class: "brand-logo"
        ),
        home_path %> 
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if current_user.nil? %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path, class: "nav-link")  %>  
          </li>
          <li class="nav-item">          
            <%= link_to('Registrarse',new_user_registration_path, class: "nav-link")  %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Editar cuenta', edit_user_registration_path) %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "nav-link" , method: :delete do%>Log out<% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <% if current_user.nil? %>
      <li class="nav-item">
        <%= link_to('Login', new_user_session_path, class: "nav-link")  %>  
      </li>
      <li class="nav-item">          
        <%= link_to('Registrarse',new_user_registration_path, class: "nav-link")  %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to('Editar cuenta', edit_user_registration_path) %>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, class: "nav-link" , method: :delete do%>Log out<% end %>
      </li>
    <% end %>
  </ul>
